[Unit]
Description=Granad Gatekeeper Service
Requires=network.target

[Service]
Type=simple
Restart=on-failure
RemainAfterExit=no
RestartSec=5s
ExecStart=/usr/bin/granad-gatekeeper run --config_prod --log_dir /var/log

[Install]
WantedBy=multi-user.target
